# Build artifacts
*.o
*.a
*.so
*.dylib

# Executables
quectel-CM
quectel-qmi-proxy
quectel-mbim-proxy
quectel-atc-proxy
quectel-qrtr-proxy
QFirehose

# Dependencies
libmnl/*.o

# Build output directories
application/qfirehose/src/out/
